* {
  padding: 0px;
  margin: 0px
}

body {    
  font-family: "Tahoma", "Oswald", "Impact", "Big Caslon", "Book Antiqua", "Palatino Linotype", sans-serif; !important;
  color: #d2d2d2 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("1.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #000066;
}

.body-width {
  width: 60%;
  overflow: auto; 
  height:900px;
  text-align: center;
  margin: 15px;
  padding: 15px;
  border: 2px solid #000033;
  background-repeat: no-repeat;
  background-size: auto 800px;
  background-color: #36486b;
}

.my-text {
  font-family: "Big Caslon";
  font-size: 3em;
  color: #bb2c24;
}

.fa-searchengin {
  vertical-align: top; 
  color:gold;  
}

#searchFrame {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

#searchFrame:hover {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

.button {
  font: bold 1.1em Tahoma;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

input[type=text] {
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 80% */
input[type=text]:focus {
  width: 88%;
}

#search-form_3 {
  background: #e1e1e1; /* Fallback color for non-css3 browsers */
  width: 550px;
  margin: auto;

  /* Gradients */
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
  background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);

  /* Rounded Corners */
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;

  /* Shadows */
  box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

/*** TEXT BOX ***/
.search_3{
  background: #fafafa; /* Fallback color for non-css3 browsers */

  /* Gradients */
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
  background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
  border: 0;
  border-bottom: 1px solid #fff;
  border-right: 1px solid rgba(255,255,255,.8);
  font-size: 1.1em;
  font-style: bold;
  margin: 4px;
  padding: 5px;
  width: 250px;

  /* Rounded Corners */
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;

  /* Shadows */
  box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
  -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

/*** USER IS FOCUSED ON TEXT BOX ***/
.search_3:focus{
outline: none;
background: #fff; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(235,235,235)));
background: -moz-linear-gradient( center top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
}

/*** window-close BUTTON ***/
.submit_3{
-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
box-shadow:inset 0px 1px 0px 0px #f5978e;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
background-color:#bb2c24s;
border: 0;
color: #eee;
cursor: pointer;
border:1px solid #d02718;
font: bold 1em 'Raleway', sans-serif;
text-decoration:none;
text-shadow:0px 1px 0px #810e05;
height: 30px;
margin: 4px 4px 0;
text-shadow: 0 -1px 0 rgba(0,0,0,.3);
outline: none;

/* Rounded Corners */
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

}
/*** window-close BUTTON HOVER ***/
.submit_3:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
}
.submit_3:active {
  position:relative;
  top:2px;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;
}

/* Customize the check-box label */
.check-bx {
  display: block;
  position: relative;
  line-height: 300%;
  color: gold;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-bx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15px;
  left: 440px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-bx:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-bx input:checked ~ .checkmark {
  background-color: #bb2c24;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-bx input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-bx .checkmark:after {
  left: 7px;
  top: -5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
