* {
  padding: 0px;
  margin: 0px
}
/*
body {    
  font-family: Impact, sans-serif !important;
  color: #d2d2d2 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
}*/

body {    
  font-family: 'Oswald', Impact, sans-serif !important;
  color: rgb(102, 102, 102) !important;
}

.body-width {
  width: 90%;
  min-height: 800px;
  margin: 15px;
  padding: 15px;
  border: 2px solid #009688;
  background-image: url('imgs/14.jpg');
  background-repeat: no-repeat;
  background-size: auto 800px;
  background-color: #000033;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 200px;
    border-radius: 10px;
    background-color: #00CFBB;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}